@import "tailwindcss";


.content h2, .content li{
    font-family: "Arial", Sans-serif;
    font-weight: 900;
}
 .content p{
    font-family: "Arial", Sans-serif;
    font-weight: 400;
 }
 body{
    font-family: "Arial", Sans-serif;
 }

@theme{

    /* ============= brakpoint =============== */
    --breakpoint-1xl: 83.75rem; /* 1340px */  
}


@utility container {
    @apply mx-auto px-4;
    @media (width >=83.75rem   /* 1340px */
    ) {
        max-width: var(--breakpoint-1xl);  /* 1340px */
    }
}